{% extends "cursosDjango/layout.html" %}
{% block titulo%} CURSOS {%endblock%}


{% block contenido%}

    <div class="page-header">
        <div class="page-title">
            <h3  style="position: relative; left: 238px;">CURSOS EN LINEA  
            <small>Cursos disponibles</small></h3>
        </div>
    </div>
    
{%endblock%}

{% block ubicacion%}

{%endblock%}

{% block formulario%}

    {% for curso in 9B %}
    <div>
        <p><strong>Nombre:</strong> {{ curso.nombre }}</p>
        <p><strong>Email:</strong> {{ curso.email }}</p>
        <p><strong>Curso:</strong> {{ curso.curso }}</p>
        <p><strong>Módulos:</strong> {{ curso.modulos }}</p>
        <p><strong>Precio:</strong> {{ curso.precio }}</p>
        <p><strong>Comentario:</strong> {{ curso.comentario }}</p>
        <hr>
        
    </div>

     {% endfor %}
{% comment %}      
  <h2>CURSOS</h2>
  <table>
      <tr>
          <td>Base de datos</td>
      </tr>
      <tr>
          <td>Multiplataforma</td>
      </tr>
      <tr>
          <td>Ciencias de la investigación</td>
      </tr>
      <tr>
          <td>Metodologia de la programacion</td>
      </tr>
  </table>
</div> {% endcomment %}

<br><br><br><br>
{%endblock%}


























{% comment %} {% block imagen%}
  {%load static %}
  {%static 'cursosDjango/imagenes/DJANG.png'%}
  
{%endblock%}

{% block texto%}
  {%load static %}
  
  <div class="user-info">
    CURSOS DJANGO <span>DJANGO</span>
  </div>
{%endblock%} {% endcomment %}
